article{
  border-width: 2px;
  border-color: rgb(177, 174, 176);
  border-style: solid;
}



section h2{
  width: 54%;
  font-size: 35px;
  font-weight: lighter;
  margin: 8% 0 0 0;
  padding: 0;
  float: left;
  text-align: center;

}

section{
  margin: 30px;
  background-color: rgb(238, 234, 234);
  overflow: hidden;
  min-width: 1000px;
}

section .info{
  padding: 0;
  width: 54%;
  list-style-type: none;
  text-align: center;
  overflow: hidden;
  font-size: 15pt;
}

section iframe{
  border: none;
  float: right;
  width: 45%;
  height: 500px;
}
