.scrollup {
    position: fixed;
    width: 32px;
    height: 32px;
    bottom: 0px;
    right: 20px;
    background-color: rgba( 255, 255, 255, 0 );
    margin-bottom: 40px;
}
a.scrollup {
    outline: 0;
    text-align: center;
}
a.scrollup:hover,a.scrollup:active,a.scrollup:focus {
	opacity:1;
	text-decoration:none;
}
a.scrollup i {
    margin-top: 10px;
    color: #fff;
}
a.scrollup i:hover {
	text-decoration:none;
}
article{
	border: 2px solid #E6E6E6;
	overflow: hidden;
	background-color: white;
}

table {
	border-collapse: collapse;
	width: 50%;
	border-bottom: 25px solid white;
}

table th{
	padding: 8px;
	padding-right: 120px;
	font-size: 30px;
	margin-left: 20px;
	margin-top: 100px;
	border-right: hidden;
	border-bottom: 25px solid white;
	font-weight: 400;
	color: white;
	background-color: rgb(241, 204, 123, 0.8);
}

table td{
	padding-top: 10px;
	padding-bottom: 20px;
}

table a{
	font-size: 20px;
	font-weight: 100;
}

table a:link { color: black; text-decoration: none;}
table a:visited { color: black; text-decoration: none;}
table a:hover { color: black; text-decoration: underline;}

span{
	font-size: 25px;
	color: #A4A4A4;
}
.circle {
	width: 8px;
	height: 8px;
	background-color: #A4A4A4;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	display: inline-block;
}
.lefttable {
	float: left;
	border-right: 0.5px solid #A4A4A4;
}

.center{
	text-align: center;
	width: 45px;
	padding-left: 60px;
}

.slide{
	float: right;
	color: white;
	font-size: 20px;
	font-weight: 20;
	padding:10px 37px 10px 37px;
	border-radius: 5px;
	border: 2px solid white;
	background-color: rgb(241, 204, 123, 0.8);
	text-decoration: none;
	margin-right: 20px;

}

.slide:hover{
	background-color: rgb(241, 204, 123, 0.4);
	border: 2px solid white;
	text-decoration: none;
}