article{
	border: 2px solid #E6E6E6;
	overflow: hidden;
	background-color: white;

}

table {
	border-collapse: collapse;
	width: 50%;
}

table th{
	padding: 8px;
	padding-right: 120px;
	font-size: 30px;
	margin-left: 20px;
	margin-top: 100px;
	border-bottom: 25px solid white;
	font-weight: 400;
	color: white;
	background-color: rgb(241, 204, 123, 0.8);
}

table td{
	padding-top: 10px;
	padding-bottom: 20px;
}

table a{
	font-size: 20px;
}

table a:link { color: black; text-decoration: none;}
table a:visited { color: black; text-decoration: none;}
table a:hover { color: black; text-decoration: underline;}

span{
	font-size: 25px;
	color: #3F6BA5;
}
.circle {
	width: 8px;
	height: 8px;
	background-color: #A4A4A4;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	display: inline-block;
}
.lefttable {
	float: left;
}

.center{
	text-align: center;
	width: 45px;
	padding-left: 60px;
}

.slide{
	float: right;
	color: #3F6BA5;
	font-size: 20px;
	font-weight: 20;
	padding:10px 37px 10px 37px;
	border-radius: 5px;
	border: 2px solid #E0ECFD;
	background-color: #E0ECFD;
	text-decoration: none;
	margin-right: 20px;

}

.slide:hover{
	background-color: #EDF3FC;
	border: 2px solid #EDF3FC;
	text-decoration: none;
}