article{
	border: 2px solid #E8E9EA;
	border-radius: 4px;
	padding-left: 40px;
	overflow: hidden;
}

div{
	border-bottom: 2px solid #E8E9EA;
	padding-top: 10px;
	padding-bottom: 40px;

}
a:link{
  text-decoration: none;
}


h1{
	color:black;
	font-weight: 100;
}
span{
	font-size: 25px;
	color: #A4A4A4;
}

h3{
	font-size: 36px;
	font-weight: 20;
	height: 14px;
}

section{
 	width: 1300px;
}
.a:hover{
	text-decoration: underline;
}
.section ul li {
  	padding-top: 16px;
  	padding-bottom: 16px;
  	margin:0;
  	width: 14.2%;
  	list-style-type:none;
  	text-align: center;
  	height: 40px;
  	display: block;
  	float: left;
}
.section ul li a{
	color: black;
	vertical-align: bottom;
	font-size: 18px;
}
.slide{
	float: right;
	color: white;
	font-size: 20px;
	font-weight: 20;
	padding:10px 37px 10px 37px;
	border-radius: 5px;
	border: 2px solid white;
	background-color: rgb(241, 204, 123, 0.8);
	text-decoration: none;
	margin-right: 20px;

}

.slide:hover{
	background-color: rgb(241, 204, 123, 0.4);
	border: 2px solid white;
	text-decoration: none;
}
.right{
	float: right;
	overflow: hidden;
	margin-right:30px;
	margin-top: 15px;
}