h1{
    padding-left: 3px;
    background-color: white;
    font-size: 30px;
    margin-top:10px;
    margin-bottom: 50px;
    margin-left: 10px;
    font-weight: lighter;
    color: black;
  }

h2{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 3px;
    font-weight: 500;
    color: gray;
    font-size: 25pt;
}

div p{
    margin-top: 20px;
    font-size: 19px;
    font-family: 'Ubuntu';
    color:gray;
    font-weight: 500;
    margin-bottom: 5px;
    margin-left: 20px;
    font-weight: 400;
}

h3{
    font-size: 22px;
    font-family: 'Ubuntu';
    color:black;
    font-weight: 400;
    margin-left: 60px;
    margin-top: 15px;
    margin-bottom: 30px;
}

input{
    margin-left: 20px;
}

button{
    background-color: rgb(241, 204, 123);
    border: 2px solid #d3d3d3;
    color:gray;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 50px;
    margin-left: 20px;
}
  
button:hover{
    background: gray;
    border-color: gray;
    color: white;
}

.grade {
    background-color: white;
    border : 3px solid #d3d3d3;
    overflow: solid;
    min-width: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div{
    margin-bottom: 10px;
}

.left{
    float: left;
    overflow: hidden;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 10px;
  }