body{
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  font-family: Arial;
}

h1{
font-size: 50px;
margin-left: 20px;
margin-top: 100px;
min-width: 1100px;
color: #3F6BA5;
font-weight: lighter;
}

article{
  min-width: 1111px;
}

aside{
  min-width: 1111px;

}
