#login {
  width: 393px;
  height: 465px;
  position: absolute;
  top: 8%;
  left: 0;
  bottom: 0;
  right: 45%;
  margin: auto;
  border-radius: 3px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, .96) 0%, rgba(255, 255, 250, .8) 65%);
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgb(174, 176, 167);
  overflow: scroll;

}

#login h2 {
  min-width: inherit;
  margin-top: 8%;
  text-align: center;
  font-weight: bolder;
  letter-spacing: 4px;
  padding: 10px 0 20px 0;
}

#login input {
  width: 292px;
  height: 65px;
  background: rgba(233, 209, 136, 0.6);
  border: 0;
  border-radius: 3px;
  margin-left: 10%;
  padding-left: 20px;
  font-family: 'Ubuntu';
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}

#login .divider {
  width: 100%;
  height: 1px;
  background: rgb(207, 212, 208);
  border-bottom: 1px solid rgb(167, 161, 160);
  clear: both;
  margin-top: 30px;
}

#login button {
  margin-left: 40.5px;
  margin-right: 40.5px;
  margin-top: 20px;
  border: none;
  border-radius: 3px;
  background: rgb(241, 204, 123);
  width: 312px;
  height: 65px;
  color: #fff;
  font-size: 26px;
  font-family: 'Ubuntu';
  cursor: pointer;
}

#login .button :hover {
  opacity: 85%;
}

#login p {
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-family: 'Ubuntu';
  margin-top: 8%;
}

#login .reg {
  color: rgb(241, 204, 123);
}

#login a{
  text-decoration: none;

}
