.human{
  overflow:hidden;
  margin-top: 10px;
}

.info{
  float: left;
  width: 300px;
  margin-right: 40px;
  margin-top: 0px;
  padding: 10px;
}

.interest{
  float: center;
  margin-top: 0px;
  padding: 5px;
}

section h2{
  padding-left: 3px;
  background-color: rgb(161, 250, 213);
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: lighter;
  color: rgb(52, 52, 49);
}

section{
  background-color: white;
  border : 3px solid rgb(88, 212, 245);
  border-radius: 15px;
  overflow: hidden;
  min-width: 1000px;
  margin-top: 5px;
  margin-bottom: 20px;
}

section ul{
  margin-left: -20px;
  list-style-type: circle;
  overflow: hidden;
  font-size: 12pt;
}
