.human{
  overflow:hidden;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.info{
  float: left;
  width: 300px;
  margin-right: 40px;
  margin-top: 0px;
  padding: 10px;
}

.interest{
  float: center;
  margin-top: 0px;
  padding: 5px;
}

p{
  margin-left: 10px;
  font-size: 20px;
}

section h2{
  padding-left: 3px;
  background-color: white;
  font-size: 30px;
  margin-top:10px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-weight: lighter;
  color: rgb(0, 131, 202);
}

section{
  background-color: white;
  overflow: solid;
  min-width: 1000px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 15px #E6E6E6,
  -1px -1px 15px#E6E6E6, 1px -1px 15px#E6E6E6, -1px 1px 15px#E6E6E6;
  border-top: solid 8px gray;
}

section ul{
  margin-left: -20px;
  list-style-type: solid;
  overflow: hidden;
  font-size: 12pt;
}