nav{
  min-width: 1111px;
  position: absolute;
  top: 0;
  width: 80%;
}



.menu{
  padding-left: 0px;
  margin: 0 0 0 0;
  width: 100%;
}

.menu li{
  margin: 0 0 0 0;
  border : 0;
  float: left;
  text-align: center;
  width: 12.5%;
  list-style-type:none;


}

.menu a{
  display:block;
  height:50px;
  line-height:50px;
  background-color:rgba(22, 106, 232, 0.8);
  color:white;
  font-family:"Helvetica";
  text-decoration:none;
}

.menu a:hover{
  background-color:rgb(174, 204, 232);
  color:#ffffff;
}

/* Home main Contents 채우고 난 후 작업 -> footer를 bottom에 고정*/
