.scrollup {
    position: fixed;
    width: 32px;
    height: 32px;
    bottom: 0px;
    right: 20px;
    background-color: rgba( 255, 255, 255, 0 );
    margin-bottom: 40px;
}
a.scrollup {
    outline: 0;
    text-align: center;
}
a.scrollup:hover,a.scrollup:active,a.scrollup:focus {
  opacity:1;
  text-decoration:none;
}
a.scrollup i {
    margin-top: 10px;
    color: #fff;
}
a.scrollup i:hover {
  text-decoration:none;
}
.table{
  border-collapse: collapse;
  border-top: solid white;
  width: 66%;
  border: none;
}

.table th{
  color:black;
  font-size: 20px;
  background: white;
  text-align: center;
}

.table th,.table td{
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}


.table th:last-child, .table td:last-child{
  border-right: 0;
  border-left: 0;
}

button{
  background-color: #333;
  border: 2px solid #333;
  color:#fff;
  float: right;
}

button:hover{
  background: fff;
  border-color: rgb(241, 204, 123);
  color: rgb(241, 204, 123);
}

.page{
  list-style: none;
  display: inline-block;
}

.page a.active{
  float: left;
  background-color:#4CAF50;
  color: white;
}

.page ul ,.page li, .page a {
  float: left;
  padding: 4px;
  width:15px;
  color:#000;
  font:bold 12px tahoma;
  border:1px solid #eee;
  text-align: center;
  text-decoration: none;
}

.page a:hover{
  color: #fff;
  border: 1px solid #FFBF00;
  background-color: #FFBF00;
}

section{
  background-color: white;
  border : 3px solid #d3d3d3;
  overflow: solid;
  min-width: 1000px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.right{
  float: right;
  overflow: hidden;
  margin-right:16px;
  margin-top: 16px;
}