.scrollup {
    position: fixed;
    width: 32px;
    height: 32px;
    bottom: 0px;
    right: 20px;
    background-color: rgba( 255, 255, 255, 0 );
    margin-bottom: 40px;
}
a.scrollup {
    outline: 0;
    text-align: center;
}
a.scrollup:hover,a.scrollup:active,a.scrollup:focus {
  opacity:1;
  text-decoration:none;
}
a.scrollup i {
    margin-top: 10px;
    color: #fff;
}
a.scrollup i:hover {
  text-decoration:none;
}


table th {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 3px;
  font-weight: bold;
  color: rgb(0, 131, 202);

}


table td {
  padding: 10px;
  box-shadow: 3px 3px 5px rgba(199, 193, 195, 0.73);
  border-radius: 5px;
}

table td:hover{
  box-shadow: 4px 4px 5px rgba(98, 98, 98, 0.8);

}




table{
  background: white;
}

table a:link {
  color: black;
  text-decoration: none;
}

table a:visited {
  color: black;
  text-decoration: none;
}

table a:hover {
  color: black;
  text-decoration: none;
}
