

table th {
  text-align: left;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: bold;
  background-color: rgb(5, 154, 218);
}

table td {
  padding: 10px;
  background-color: rgb(181, 240, 234);
}

table .even {
  background: #efefef;
}

table a:link {
  color: black;
  text-decoration: none;
}

table a:visited {
  color: black;
  text-decoration: none;
}

table a:hover {
  color: black;
  text-decoration: none;
}
