{
  margin: auto;
}
h1{
  color: #404040;
}
.wrapper {
  width: 50%;
  margin: auto;
  margin-top: 50px;
  height: 100vh;
  background-color: white;
}
.seat {
  background-color: #d3d3d3;
  margin: 3px;
  border-radius: 10%;
  text-align: center;
  padding: 5px;
  font-size: 14px;
}
.selectedSeat {
  background-color: #00a000;
}
.reservedSeat {
  background-color: #d11507;
}
*:hover {
  outline: none;
}