h1{
    padding-left: 3px;
    background-color: white;
    font-size: 30px;
    margin-top:10px;
    margin-bottom: 50px;
    margin-left: 10px;
    font-weight: lighter;
    color: black;
}

div{
    background-color: white;
    border : 3px solid #d3d3d3;
    overflow: solid;
    min-width: 1000px;
    margin-top: 5px;
    margin-bottom: 20px;
}

h2{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 3px;
    font-weight: 500;
    color: gray;
    font-size: 25pt;
}

th{
    font-size: 20px;
    font-family: 'Ubuntu';
    font-weight: 200;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

tr{
    font-size: 18px;
    padding-left: 10px;
}

.member_list{
    font-size: 20px;
}